# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
client/node_modules

# production
client/target/js
client/target/assets/css

# misc
.DS_Store
npm-debug.log
logs
