.lists {
    .col {
        padding: 0 5px;
    }
    padding-top: 6px;
}

.list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        &.hidden-true {
            display: none;
        }
    }

    a.o-card__tag:link,
    a.o-card__tag:visited {
        color: #9e2f50;
        font-size: 16px;
        font-family: 'MetricWeb', sans-serif;
    }

    a.o-card__tag:hover,
    a.o-card__tag:active {
        color: #505050;
    }

    .o-card__heading {
        padding: 0;
        a {
            color: #333;
            font-size: 24px;
            font-family: 'FinancierDisplayWeb', serif;
            line-height: 1em;

            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }

    }

    .full-true {
        min-height: 0;
        .o-card__content {
            float: none;
            width: 100%;
        }
    }

    .list-item {
        overflow: hidden;
        .o-card__image {
            img {
                margin-bottom: 20px;
            }
        }
    }

    @media all and (max-width: 1561px) {
        li:first-child {
            padding: 10px;

            .list-item {
                padding: 0 6px;
            }

            .o-card__image--left {
                float: none;
                padding-right: 0;
                width: 100%;
                margin-bottom: 10px;
            }

            .o-card__content {
                width: 100%;
                float: none;
            }

            .o-card__tag {
                padding-top: 4px;
                margin-bottom: 5px;
            }

            .o-card__heading {
                margin: 0 0 7px 0;
                a {
                    font-size: 34px;
                }
            }

            .o-date {
                display: none;
            }
        }

        li {
            padding: 0;
            border-bottom: solid 1px #cec6b9;

            .list-item {
                padding-top: 0;
            }

            .o-card__heading {
                line-height: 0;
                margin: 0 0 20px 0;
            }

            .o-card__timestamp {
                display: none;
            }
        }
    }
}

.list-items.type-columnists {

    li:first-child .o-card {
        padding: 0;
    }
    .o-card {
        padding: 5px 5px 0 5px;
    }

    .list-item-fake-links,
    .o-card__image,
    .o-card__tag,
    .standfirst {
        display: none;
    }
    .o-card__content {
        width: 100%;
        float: none;
    }

    li:first-child .o-card__heading,
    .o-card__heading {
        line-height: 0.6em;
    }

    li:first-child .o-card__heading a,
    .o-card__heading a {
        font-size: 24px;
    }

    .columnist-name {
        display: block;
        color: #416e92;
        font-size: 20px;
        font-family: 'FinancierDisplayWeb', serif;
    }
}

.list-items.type-opinion-analysis {

    @media all and (min-width: 1562px) {
        width: 40%;
    }

    .o-card__image--left,
    .list-item-fake-links {
        display: none;
    }

    li {
        border-bottom: solid 1px #cec6b9;
        .o-card {
            padding: 5px 0 0 5px;
        }
        .o-card__content {
            width: 100%;
            float: none;
        }
        .o-card__heading {
            display: block;
            margin-bottom: 20px;
            line-height: 0;
            height: auto;

            a {
                font-size: 20px;
                line-height: 15px;
                margin-bottom: 5px;

                @media all and (min-width: 1562px) {
                    font-size: 18px;
                    line-height: 1.2em;
                }
            }
        }

        .o-card__timestamp {
            display: none;
        }
    }

    li:first-child {
        background: #fff1e0;
        padding: 0 0 10px 0;

        .o-card__timestamp {
            display: block;
        }

        .list-item {
            background: #ffe9d7;
            padding: 10px;
            position: relative;

            .o-card {
                background-color: #ffe9d7;
                padding: 0;
            }

            .o-card__content {
                margin-bottom: 5px;
            }

            .o-card__content:before {
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                width: 50px;
                height: 55px;
                z-index: 1;
                background: url("https://next-geebee.ft.com/image/v1/images/raw/https%3A%2F%2Fnext-geebee.ft.com%2Fassets%2Fbackgrounds%2Ffold-with-bg-1.svg?source=next") no-repeat;
            }

            .o-card__tag {
                font-family: 'FinancierDisplayWeb', serif;
                font-size: 20px;
                font-weight: normal;
            }
            .o-card__heading {
                display: inline;
                line-height: 0;
                a {
                    font-size: 20px;
                    @media all and (min-width: 1562px) {
                        font-size: 18px;
                    }
                }
            }
            .standfirst {
                display: none;
            }
        }
    }
}

.list-item-fake-links {
    height: 70px;
    width: 100%;
    background: #e9decf;
    margin: 18px 0 32px 0;

    @media all and (min-width: 1562px) {
        display: none;
    }
}

.lists-next-iframe {
    width: 100%;
    border: none;
}

.lists .open-at-ft-link {
    display: block;
    background: #27757b;
    color: white;
    height: 36px;
    line-height: 36px;
}

.lists-types {
    height: 36px;
    line-height: 36px;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 12px;

            a {
                &:hover {
                    text-decoration: none;
                }
            }

            .o-buttons--standout {
                color: #fff;
            }
        }
    }
}

.lists-dummy-header {
    background: #e9decf;
    width: 100%;
    height: 96px;

    @media all and (min-width: 1562px) {
        height: 106px;
    }
}

.lists-content h3 {
    font-size: 40px;
    font-family: 'FinancierDisplayWeb', serif;
    font-weight: 400;
    margin: 0 10px 0 0;
    padding: 13px 0 13px 20px;
}

.lists-subheader {
    position: relative;
}

.lists-subheader:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    height: 9px;
    width: 100%;
    background: url(https://next-geebee.ft.com/image/v1/images/raw/http%3a%2f%2fnext-geebee.ft.com%2fassets%2fbackgrounds%2ffront-page-section-header-v2.svg?source=next&format=svg&tint=000000,000000) repeat transparent;
}

.lists-subheader {
    h5 {
        font-size: 28px;
        font-family: 'MetricWeb', sans-serif;
        line-height: 40px;
        text-transform: uppercase;
        margin: 0;
        padding: 0 10px 0 0;
        background-color: #fff1e0;
        display: inline-block;
        position: relative;
    }

    &.type-opinion-analysis {
        h5 {
            font-size: 21px;
        }
    }
}

.lists {
    .standfirst {
        font: 16px/1.3 'Georgia', serif;
        color: #505050;
        margin: 5px 0 0;
    }

    .alert {
        text-align: center;
        margin: 20%;
    }
}

.list-page-section {
    text-align: center;
    color: #416e92;
}

.lists-column-loader {
    display: block;
    width: 100px;
    margin: 20% auto 75% auto;
}