<h3>{{label}}</h3>
<div class="article">
    <h4>{{article.title}}</h4>
    <p class="article-summary">{{article.summary}}</p>
    <div class="article-image" *ngIf="article.image.url">
        <img [src]="article.image.url" [alt]="article.image.alt" />
        <div class="article-time-byline">
            <time>{{article.publishDateTime}}</time>
            <span class="article-author">by: <em>{{article.byline}}</em></span>
        </div>
    </div>
    <div class="article-body" [innerHTML]="article.body"></div>
</div>