<div class="page-wrapper row content">
    <div class="col col-md-4">
        <content-next-component></content-next-component>
    </div>
    <div class="col col-md-4">
        <contentv1-component>
            <div>Disabled</div>
        </contentv1-component>
    </div>
    <div class="col col-md-4">
        <content-v2-component>
            <img src="client/target/assets/img/hourglass.svg" style="display: block; width: 100px; margin: 20% auto 0 auto;" />
        </content-v2-component>
    </div>
</div>
